@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Calculator full height */
.calculator-layout {
  height: 100dvh;
}
